* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background: #c5dbc5; /* Light pink background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard-container {
    opacity: 0;
    animation: fadeIn 1s forwards; /* Animation to fade in */
    display: flex;
    
    width: 100vw;

}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.sidebar{
    height: 100vh;
    width: 250px; 
    background-color: #014421;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    z-index: 1000;
    
}

.staffpanel{
    padding: 20px;
    font-weight:600;
    font-size: 23px;
}
.navs{
    color: #fff;
    padding: 12px 20px;
    border-radius: 0.375rem;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 20px;
    width: 85%;
    background-color: #014421;
    border: none;
    text-align: left;
}
.navs:hover{
    background-color: #013220;
}

.logout{
    color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 20px;
    width: 83%;
    background-color: #dc3545;
    border: none;
    text-align: left;
    margin-top: 420px;
    padding: 8px 20px;
    font-weight: bold;
}
.logout:hover {
    background-color: #c82333;
}
.main-content{
    
    padding: 40px 20px;
    width: calc(100% - 250px); /* Prevent overflow */
   

}
 .appointment{
    font-weight: 750;
    color: #014421;
    font-size: 30px;
    padding-left: 20px;
  }

  .table-container {
    margin-top: 2rem;
    background:white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 9, 2, 0.08);
    opacity: 0;
    animation: fadeIn 1s forwards; /* Animation to fade in */
    margin-bottom: -15px;
    width: 100%;
}


.table th {
    background-color: #014421; /* Bright pink background for header */
    color: white; /* White text in table header */
    transition: background-color 0.3s ease; /* Smooth transition for header color */

}

.table th:hover {
    background-color:#013220; /* Darker pink on hover */

}

.table td {
    background-color: #00b100; /* Light pink for table cells */
    color: #333; /* Darker text for readability */
    transition: background-color 0.3s ease; /* Smooth transition for row color */
}

.table tbody tr:hover {
    background-color: #007e00; /* Darker pink on hover */
    transform: scale(1.02); /* Slightly enlarge row on hover */
    transition: transform 0.3s ease; /* Smooth scaling */
}

.table thead th {
    border-bottom: 2px solid #fff;
}

.table tbody td {
    border-bottom: 1px solid #ddd;
}

.table-hover tbody tr:hover {
    background-color: #e65aa9; /* Darker pink on hover */
}